@font-face {
   font-family: "Continuum Light Regular";
   src: url("/fonts/Continuum-Light-Regular.ttf") format("truetype");
}
@font-face {
   font-family: "Continuum Bold Regular";
   src: url("/fonts/Continuum-Bold-Regular.ttf") format("truetype");
}
@font-face {
   font-family: "Continuum Medium Regular";
   src: url("/fonts/Continuum-Medium-Regular.ttf") format("truetype");
}

html, body {
   margin: 0;
   padding: 0;
   color: #34495e;
   font-family: "Source Sans Pro", sans-serif;
   font-size: 14px;
   line-height: 22px;
}

b {
   font-weight: 700;
}

ul {
   margin: 0;
}

h1 {
   font-size: 46px;
   text-align: center;
   height: 120px;
   line-height: 90px;
   font-family: "Continuum Light Regular";
/*   text-shadow: 2px 2px 3px lightgray; */
}
h1 .js {
   color: #7cbd31;
}
h1 .joint {
   font-family: "Continuum Medium Regular";
   font-weight: normal;
}

header > a {
   text-decoration: none;
   color: #ccc;
}

header {
/*
   background-image: -moz-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: -ms-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: -o-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(100%,#efefef));
   background-image: -webkit-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: linear-gradient(to bottom,#ffffff 0,#efefef 100%);

   background-color: #34495e; 
   background-image: url('/images/header_bg.png');
   background-repeat: repeat-x;
*/
   background-color: #333;
   color: #ccc;
   text-shadow: 0 0 3px black;
}

header h1 {
   margin-top: 0;
   padding-top: 60px;
}

h1 em {
   font-size: .8em;
   margin-left: 40px;
   font-variant: small-caps;
   text-transform: capitalize;
   font-style: normal;
}

h3 img {
   vertical-align: middle;
   margin-right: 5px;
}

ul li {
   line-height: 22px;
}

nav ul {
/*   background-color: #34495e; */
   background-color: #333;
   height: 40px;
   line-height: 40px;
   font-family: "Continuum Light Regular";
}
nav ul li {
   display: inline-block;
   color: white;
   margin-left: 40px;
}
nav ul li a {
   color: white;
   text-decoration: none;
}
nav ul li a:hover {
   color: #1abc9c;
}

nav ul li.active a {
   color: #1abc9c;
}

nav a[href="/about-rappid"] {
/*   background-color: #1abc9c; */
/*   color: #34495e; */
   background-color: black;
   color: white;
   display: inline-block;
   font-weight: 700;
   padding: 8px;

}
nav a[href="/about-rappid"]:hover {
   color: black;
   background-color: white;
}


section {
   margin: 20px;
   padding: 20px;
   position: relative;
}

footer {
   background-color: #edeff1;
   background-color: #eee;
   padding: 50px 50px;
   color: #7F8C8D;
   text-align: center;
   text-align: center;
}
footer .footer-links {
   width: 60%;
   display: inline-block;
}
footer .links-column {
   width: 33%;
   float: left;
}
footer .links-column a {
   text-decoration: none;
   color: #333;
   line-height: 30px;
}
footer .links-column a:hover {
   text-decoration: underline;
}
footer .links-column a[href="/about-rappid"] {
   font-weight: bold;
}

footer .links-column ul {
   list-style-type: none;
}
footer .copyright {
   border-top: 1px solid #ccc;
   clear: both;
   padding-top: 30px;
   max-width: 400px;
   margin: 30px auto;
}

.announcement-link {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    display: block;
    color: white;
    font-size: 16px;
    line-height: 30px;
    vertical-align: top;
}
.announcement-link:hover {
    text-decoration: none;
}
.announcement-link img {
    max-height: 30px;
    margin-right: 5px;
}
.announcement-link.hiring-announcement {
    top: 270px;
    left: 30px;
    right: auto;
    color: black;
}

.screenshots {
   margin: 0 auto;
   padding: 30px;
   max-width: 1200px;
}

.screenshots .screenshot {
   display: inline-block;
   text-align: center;
   padding: 10px;
   height: 250px;
   line-height: 250px;
   width: 300px;
   background-color: #eee;
   margin-right: 20px;
   margin-bottom: 20px;
}
.screenshots img {
   width: 300px;
   vertical-align: middle;
}

.btn {
   text-align: center;
}

.btn-primary {
   background-color: #e74c3c;
   padding: 12px 18px 13px;
   line-height: 20px;
   border: none;
   color: white;
   font-size: 18px;
   cursor: pointer;
   display: block;
   text-decoration: none;
   float: right;
}
.btn-primary:hover {
   background-color: #ec7063;
}

.btn-secondary {
   background-color: #f1c40f;
   padding: 12px 18px 13px;
   line-height: 20px;
   border: none;
   color: white;
   font-size: 18px;
   cursor: pointer;
   display: block;
   text-decoration: none;
   float: right;
}
.btn-secondary:hover {
   background-color: #f5d313;
}

.btn-ternary {
   background-color: #16A085;
   padding: 12px 18px 13px;
   line-height: 20px;
   border: none;
   color: white;
   font-size: 18px;
   cursor: pointer;
   display: block;
   text-decoration: none;
   float: right;
}
.btn-ternary:hover {
   background-color: #1ABC9C;
}

.actions {
   float: right;
}

.logo {
   width: 80px;
   vertical-align: middle;
   margin-right: 50px;
}
.logo.small {
   width: 20px;
   margin-right: 15px;
}

.social {
   float: right;
   margin-top: 20px;
   margin-right: 80px;
}

.social > .facebook,
.social > .twitter,
.social > #___plusone_0 {
   float: left !important;
   margin-right: 10px; !important;
}

.social > .pledgie {
    float: left;
    clear: left;
    margin-top: 10px;
    margin-left: 20px;
}

.social-links {
   float: right;
}
.social-links img {
   width: 40px;
   margin-left: 10px;
}

.note {
   font-size: .7em;
}

#api {
   position: relative;
   overflow-y: scroll;
   background-color: #f9f9f9;
   padding: 0;
   margin: 0;
}

#api-container {
   padding-right: 100px;
}

#api .new {
    margin-left: 10px;
    color: red;
}

#api-sidebar ul > li > ul {
   margin-left: 10px;
   font-size: 12px;
}

#api-search {
   display: block;
   margin: 0 auto;
   position: relative;
   top: 20px;
   width: 80%;
   font-size: 20px;
}

#about {
   padding: 0;
   margin: 0;
   text-align: center;
}
#download p {
   max-width: 700px;
}
#about p {
   max-width: 700px;
   margin: 0 auto;
   text-align: left;
}
#about > ul,
.about-features > ul {
   text-align: left;
   margin: 0 auto;
   max-width: 600px;
}

#about h3 {
   margin: 50px 0;
   font-size: 20px;
}

.about-description {
   padding: 40px;
}
.about-features {
   background-color: #eee;
   padding: 30px;
}

.content-sidebar {
   position: fixed;
   top: 0px;
   left: 0;
   bottom: 0;
   width: 285px;
   overflow-y: scroll;
   overflow-x: scroll;
   -webkit-overflow-scrolling: touch;
   background-color: white;
   border-right: 1px solid lightgray;
   font-size: 18px;
}

.content-sidebar a {
   color: black;
   line-height: 25px;
}
.content-sidebar > ul {
   padding-top: 20px;
   padding-bottom: 20px;
}
.content-sidebar > ul > li > a {
   font-weight: bold;
   padding-top: 20px;
   display: inline-block;
}

.content-sidebar ul ul {
   margin-left: 0;
   padding-left: 0;
   list-style: none;
   margin-top: 10px;
   font-size: .7em;
}

.content-sidebar ul ul li::before {
   content: '-';
   margin-right: 5px;
}

.content-container {
   position: fixed;
   bottom: -40px;
   left: 20px;
   right: 0;
   margin: 0 0 50px 265px;
   padding: 50px;
   overflow-y: scroll;
   overflow-x: scroll;
   -webkit-overflow-scrolling: touch;
}

.content-container h2 {
   margin-top: 40px;
   margin-bottom: 40px;
}

.content-container h3 code,
.content-container h4 code {
   margin-left: 20px;
   font-weight: normal;
}

.content-container pre {
   
   padding-left: 20px;
   border-left: 4px solid lightgray;
}

#demos .content-container {
   text-align: center;
}

#download .main {
   background-color: #ECF0F1;
   border: 1px solid #BDC3C7;
   padding: 70px;
   display: inline-block;
}

.download-plugins {
   overflow: hidden;
}
.download-plugin {
   float: left;
   width: 400px;
}

.download-plugins #vectorizer {
   margin-right: 40px;
}

.btn {
   -webkit-transition: 0.25s;
   -webkit-transition-property: background-color;
}

.btn.primary {
   background-color: #3498db;
   display: inline-block;
   padding: 4px 8px;
   border-radius: 4px;
   color: white;
   text-decoration: none;
}
.btn.primary:hover {
   background-color: #5dade2;
}

.btn.secondary {
   background-color: #1abc9c;
   display: inline-block;
   padding: 2px 4px;
   border-radius: 2px;
   color: white;
   text-decoration: none;
}
.btn.secondary:hover {
   background-color: #48c9b0;
}


#download h4 span {
   font-size: .7em;
}

#chess #board {
   position: relative;
   border-style: none;
}
#chess .board-bg {
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: -1;
   background: black;
}
#chess .board-bg td {
   width: 46px;
   height: 46px;
   border-style: none;
   background: #fee472;
}
#chess .element.KingWhite .rotatable, #chess .element.KingBlack .rotatable {
    -moz-transform: translate(-2px,-1px);
    -ms-transform: translate(-2px,-1px);
}

#chess .board-bg tr:nth-child(odd) td:nth-child(even),
#chess .board-bg tr:nth-child(even) td:nth-child(odd) {
   background: #00B392;
}

#transition #paper {
    background-color: #00BFFF;
    background-image: -webkit-linear-gradient(top, #00BFFF , #FFFFFF);
    background-image: -moz-linear-gradient(top, #00BFFF , #FFFFFF);
    background-image: -ms-linear-gradient(top, #00BFFF , #FFFFFF);
    background-image: -o-linear-gradient(top, #00BFFF , #FFFFFF);
    background-image: linear-gradient(to bottom, #00BFFF , #FFFFFF);
    height: 400px;
}

#links #paper {
   height: 400px;
}

#demos-container {
   max-width: 1600px;
}

#demos-container > a {
   display: block;
   width: 200px;
   height: 200px;
   float: left;
   text-align: center;
   line-height: 200px;
   margin: 20px;
}
#demos-container > a:hover {
   box-shadow: 0 0 5px lightgray;
}
#demos-container img {
   width: 150px;
   vertical-align: middle;
}
#demos-container > .btn-primary {
    float: none;
}

#demos h1 {
   font-size: 36px;
}

#demos h2 {
   font-size: 26px;
}


/* Plugins introduction */

.plugins-introduction {
   background-color: white;
   padding: 50px;
   padding-bottom: 0;
}

.plugins-introduction .description {
   display: inline-block;
   vertical-align: top;
   background-image: -moz-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: -ms-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: -o-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(100%,#efefef));
   background-image: -webkit-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: linear-gradient(to bottom,#ffffff 0,#efefef 100%);
   width: 380px;
   height: 179px;
   padding: 40px;
   border: 1px solid #ccc;
   margin-top: 0;
   border-left: transparent;
   margin-left: -4px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;   
   position: relative;
}
.plugins-introduction > a {
   text-decoration: none;
}
.plugins-introduction .description h3 {
   margin: 0 0 25px 0 !important;
   font-size: 18px;
   text-transform: capitalize;
}
.plugins-introduction .description ul {
   padding-left: 20px;
}
.plugins-introduction .description li {
   line-height: 13px;
}
.plugins-introduction .description p {
   line-height: 28px;
   font-size: 16px;
}
.plugins-introduction .description .preorder-link {
   position: absolute;
   right: 10px;
   bottom: 10px;
   font-size: 14px;
}
.headline-video-plugins {
   display: inline-block;
}
.plugins-introduction img {
   display: inline-block;
   height: 259px;
   border: 1px solid lightgray;
   -webkit-transition: opacity .8s;
   -moz-transition: opacity .8s;
   transition: opacity .8s;
}
.plugins-introduction img:hover {
   opacity: .5;
}
.plugins-introduction .btn-primary {
   position: absolute;
   right: 15px;
   bottom: 15px;
}
.plugins-introduction .btn-secondary {
   position: absolute;
   right: 165px;
   bottom: 15px;
}

/* JointJS+ page */

.block-quote {
   width: 400px;
   position: relative;
}
.block-quote-author {
   font-weight: 700;
   font-size: 18px;
   color: #34495e;
   text-shadow: 0 1px 1px rgba(255,255,255,0.7);
   position: absolute;
   right: 60px;
   bottom: 0;
}
.block-quote blockquote {
   padding: 25px;
   position: relative;
   border-radius: 10px;
   font-family: 'Alegreya', serif;
   font-size: 20px;
   color: #b4b4b4;
   font-weight: 400;
   line-height: 30px;
   font-style: italic;
   text-indent: 70px;
   position: relative;
}
.block-quote blockquote:before {
   content: '\201C';
   font-family: serif;
   font-style: normal;
   font-weight: 700;
   position: absolute;
   font-size: 78px;
   top: 30px;
   left: -45px;
   color: #1abc9c;
   text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
}

#license {
   max-width: 600px;
}
#license h1 {
    font-size: 22px;
    line-height: 24px;
    height: auto;
    margin: 50px 0;
}
#license h2 {
   margin-bottom: 30px;
}
#license .commercial-license {
   margin-top: 40px;
}
#license .commercial-license p {
   font-size: 1.2em;
   line-height: 1.8em;
}
#license.eula {
    max-width: 800px;
    margin: 0 auto;
}

#plus .features {
   width: 500px;
}
#plus .features img {
   width: 20px;
}

.btn-buy, .btn-ask, .btn-demo {
   width: 75px;
}
.btn-demo {
   height: 10px;
   line-height: 10px;
}
.btn-ask,
.btn-demo {
   clear: right;
   margin-top: 5px;
}
.btn-buy small {
   font-size: .5em;
}

/* Rappid README */

#rappid-readme {
   font-size: 1.2em;
   line-height: 1.8em;
   background: url("/images/diagram-background.jpg") center top no-repeat;
   margin: 0;
   padding: 20px;
   text-align: center;
}

#rappid-readme > h2 {
    margin: 0;
    padding-top: 20px;
    line-height: 60px;
    font-size: 50px;
}
#rappid-readme > h2 > small {
   font-size: .5em;
}
#rappid-readme > .headlines {
    max-width: 600px;
    margin: 0 auto;
}
#rappid-readme > .headlines b {
    color: #d91b5c;
}
.rappid-feature-images {
   margin-bottom: 50px;
}
.rappid-feature-images img {
   height: 100px;
   border: 1px solid lightgray;
   vertical-align: middle;
   margin-left: 30px;
   margin-bottom: 20px;
}
#rappid-readme > h2 > img:last-child {
   height: 100px;
}

#rappid-readme .actions {
   float: none;
   margin: 70px auto;
   margin-top: 25px;
}
#rappid-readme .actions .btn {
   float: none;
   display: inline-block;
   width: 170px;
   margin-left: 20px;
   text-transform: uppercase;
}
#rappid-readme .actions .btn:hover {
    opacity: .8;
}
#rappid-readme .actions .btn-ternary {
    background-color: #8AC832;
}
#rappid-readme .actions .btn-secondary {
    background-color: #00ADF2;
}
#rappid-readme .actions .btn-primary {
    background-color: #DB135A;
}
#rappid-readme .see-docs {
    line-height: 25px;
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
    max-width: 600px;
    margin: 0 auto 50px auto;
}

#rappid-readme ul em {
   margin: 0 5px;
   text-decoration: underline;
}
#rappid-readme small {
   font-size: .6em;
}
#rappid-readme ul li {
   line-height: 1.8em;
   list-style-type: none;
}
#rappid-readme h3 {
    font-size: 24px;
    margin-top: 40px;
}
#rappid-readme .usps {
    max-width: 700px;
    text-align: left;
    margin: 40px auto;
}
#rappid-readme .usps li {
    background: url("/images/arrow-right.png") no-repeat scroll left top 7px rgba(0, 0, 0, 0);
    padding-left: 30px;
}
#rappid-readme p {
    max-width: 600px;
    margin: 0 auto;
}

#rappid-readme .testimonials .customer img {
    width: 100px;
    border-radius: 100px;
    border: 5px solid white;
}
#rappid-readme .testimonials {
    margin: 0 auto;
}
#rappid-readme .testimonials .customer {
    background-color: #f2f2f2;
    display: inline-block;
    width: 360px;
    height: 300px;
    margin-left: 20px;
    vertical-align: top;
    padding: 20px;
    position: relative;
}
#rappid-readme .testimonials p {
    font-size: 15px;
    line-height: 20px;
    quotes: "\201C""\2018";
    margin-top: 10px;
}
#rappid-readme .testimonials p:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
#rappid-readme .testimonials label {
    font-size: 12px;
    color: #00ADF2;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

#rappid-readme .clients {
    max-width: 600px;
    margin: 0 auto;
}

#rappid-readme .clients img {
    max-width: 80px;
    margin: 10px;
}

/* Blog & post pages */

#blog {
   max-width: 600px;
   text-align: center;
}
#blog > h2 {
   text-align: left;
   font-size: 1.8em;
}
#blog h3 {
   text-align: left;
   font-size: 1.2em;
}
#blog h3 a {
   color: #3498db;
}
#blog h3 .date {
   color: gray;
   font-size: .5em;
   margin-left: 20px;
}

#post {
   max-width: 800px;
   margin: 0 auto;
}
#post h1 {
   color: #3498db;
   font-size: 36px;
}
#post h1 .date {
   color: gray;
   font-size: .5em;
   margin-left: 20px;
}
#post .author {
   display: block;
   color: gray;
   margin-top: 40px;
   margin-bottom: 40px;
}
#post pre {
   font-size: 12px;
   padding: 10px;
   border: 1px solid lightgray;
   -webkit-box-shadow: 2px 2px 5px lightgray;
   -moz-box-shadow: 2px 2px 5px lightgray;
   box-shadow: 2px 2px 5px lightgray;
}

#disqus_thread {
   max-width: 800px;
   margin: 0 auto;
}


/* Support page */

.support-community {
   margin: 50px 0;
}
.support-development {
   margin-top: 50px;
}
#support h3 img {
   margin-right: 30px;
}
#support h2 img {
   vertical-align: middle;
   width: 80px;
   margin-right: 20px;
}
#support ul li img {
   vertical-align: middle;
   margin-right: 20px;
   width: 48px;
}
#support .support-features {
   list-style-type: none;
}
#support .support-features li {
   margin-bottom: 20px;
}
#support ul li b {
   margin-right: 20px;
}

.support-package {
   width: 250px;
   display: inline-block;
   margin-right: 50px;
   background-image: -moz-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: -ms-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: -o-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(100%,#efefef));
   background-image: -webkit-linear-gradient(top,#ffffff 0,#efefef 100%);
   background-image: linear-gradient(to bottom,#ffffff 0,#efefef 100%);
   padding: 50px;
   border: 1px solid lightgray;
   position: relative;
   margin-top: 20px;
}
.support-package .btn-secondary {
   position: absolute;
   bottom: 5px;
   right: 5px;
}

/* Rappid docs */

#rappid-docs h2 img {
   width: 40px;
   margin-right: 30px;
}

#rappid-docs ul > li > code:first-child {
   font-weight: bold;
}
#rappid-docs ul > li > ul > li > code:first-child {
   font-weight: normal;
}
#rappid-docs table {
   border: 1px solid #e8e8e8;
   padding: 20px;
   border-collapse: collapse;
}
#rappid-docs table th {
   min-width: 200px;
   vertical-align: top;
   border-right: 1px solid #e8e8e8;
   padding: 40px;
   text-align: left;
}
#rappid-docs table td {
   padding: 40px;
}
#rappid-docs table tr {
   border-bottom: 1px solid #e8e8e8;
}
#rappid-docs table tr:nth-child(2n+1) {
   background-color: #fbfbfb;
}
.rappid-docs-home img {
   margin-right: 50px;
   margin-bottom: 50px;
}

.docs-demo {
   position: relative;
}
.docs-demo .stencil {
   border: 1px solid gray;
}
.docs-demo .stencil .elements,
.docs-demo .stencil {
    background-image: -moz-linear-gradient(top,#ffffff 0,#efefef 100%);
    background-image: -ms-linear-gradient(top,#ffffff 0,#efefef 100%);
    background-image: -o-linear-gradient(top,#ffffff 0,#efefef 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffffff),color-stop(100%,#efefef));
    background-image: -webkit-linear-gradient(top,#ffffff 0,#efefef 100%);
    background-image: linear-gradient(to bottom,#ffffff 0,#efefef 100%);
}
.docs-demo .paper {
   display: inline-block;
   border: 1px solid gray;
   margin-left: -1px;
   position: relative;
   overflow: hidden;
}
.docs-demo .code-link {
   display: block;
   font-size: 10px;
}

.shapes-chart-matrix .paper {
    border: none;
}

.technology-logos {
   position: absolute;
   right: 10px;
   top: -100px;
}
.technology-logos img {
   max-width: 25px;
   max-height: 25px;
   padding-top: 2px;

}
.technology-logos > span {
   border-radius: 30px;
   background-color: white;
   margin-left: 10px;
   width: 30px;
   height: 30px;
   line-height: 30px;
   display: inline-block;
   text-align: center;
   padding: 6px;
   transition: background-color 200ms linear;
}
.technology-logos > span:hover {
   background-color: #333;
}
.mobile-screenshots {
   position: relative;
   margin: 50px auto;
   width: 400px;
   height: 300px;
}
.mobile-screenshots img {
   width: 300px;
}
.mobile-screenshots .ipad3 {
   position: absolute;
   top: 0;
   left: 0;
}
.mobile-screenshots .iphone5 {
   position: absolute;
   left: 230px;
   top: 150px
}


.link-release-announcemet {
   display: inline-block;
   font-size: 20px;
   font-weight: bold;
   margin: 0 10px 30px 10px;
}

.rappid-plugins .plugin {
   height: 170px;
   width: 350px;
   margin: 20px;
   border: 1px solid #00ADF2;
   padding: 20px;
   display: inline-block;
   vertical-align: top;
   box-shadow: inset 0 0 5px gray;
   font-size: 14px;
}
.rappid-plugins .plugin img {
   width: 50px;
   float: left;
}
.rappid-plugins .plugin h3 {
   display: inline-block;
   margin-left: 20px;
   margin-top: 0;
}


.screenshots-carousel {
   width: 900px;
   margin: 50px auto;
}

.screenshots-carousel img {
   width: 800px;
   display: inline-block !important;
}

.screenshots-carousel .slick-slide {
   padding-top: 50px;
   text-align: center;
}

#about .screenshots-carousel .slick-slide p {
   font-size: 17px;
   max-width: 510px;
   margin-bottom: 40px;
   text-align: center;
}

.screenshots-carousel .slide-header {
   position: absolute;
   top: 0px;
   left: 20px;
   right: 20px;
   margin: 0 auto;
   font-size: 20px;
   font-weight: bold;
}

.screenshots-carousel button:before,
.screenshots-carousel button:after {
   color: black;
}

/* Images look blurry otherwise. */
.screenshots-carousel .slick-slide img {
   -webkit-transform: none;
   -moz-transform: none;
   -ms-transform: none;
   -o-transform: none;
   transform: none;
}

.screenshots-carousel .slick-dots {
   text-align: center !important;
   max-width: auto !important;
}

.home-primary-actions {
   clear: both;
   width: 400px;
   margin: 90px auto 20px auto;
   text-align: center;
}
.home-primary-actions .btn {
   float: none;
   display: inline-block;
}

.reseller {
    margin-bottom: 50px;
}
.reseller > img {
    max-width: 180px;
}
.reseller > p {
    max-width: 600px;
}
.reseller .toll-free-numbers table td {
    border: 1px solid lightgray;
}
.reseller .toll-free-numbers table img {
    width: 20px;
    margin-right: 10px;
}

.jobs {
    width: 800px;
    margin: 50px auto;
}